<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
  <div class="godownpls">
    <h1 class='score'>-1 brain cell</h1>
    <button class="clicky">
      <img src="/image.png"/>
    </button>
    <button class="uper gooder">
      GIT DUM GUDER
    </button>
    <button class="uper auto">
      DUMINATOR
    </button>
      <p style="text-align:center";>
    <b>Leave a Like!</b>
  </p>
    <p>
      Check out <a href="https://replit.com/@d31337/DUM-Simulator?v=1">DUM Sim</a>
    </p>
  </div>
  <div class="dum" style='display:none;'>
    <h1>^ no gonna work. click open website</h1>
  </div>

  <script async src="https://zink.tips/zwc.js?rid=633bbb98a6a93486708e0fb4&c=green"></script>
  <script src='/script.js'></script>

</body>
</html>